POSTGRES_DB=appdb
POSTGRES_USER=appuser
POSTGRES_PASSWORD=changeme
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
APP_DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres-tenant:5432/${POSTGRES_DB}
KEYCLOAK_URL=http://keycloak:8080/auth
KEYCLOAK_ADMIN_REALM=master 